<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.guru2">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/health"
        android:label="@string/app_name"
        android:roundIcon="@drawable/health"
        android:supportsRtl="true"
        android:theme="@style/Theme.Guru2">
        <activity android:name=".MentalColorsActivity"></activity>
        <activity android:name=".MentalMediActivity" />
        <activity android:name=".MentalDailyActivity" />
        <activity android:name=".MealDelete" />
        <activity android:name=".MealChoiceActivity" />
        <activity android:name=".MealWriteActivity" />
        <activity android:name=".WaterCheck">
        <activity android:name=".WaterEdit" />
        <activity android:name=".HealthListActivity"/>
        <activity android:name=".HealthCalActivity"/>
        <activity android:name=".HealthRecActivity"/>
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>